<header *ngIf = 'showHeader()'>
    <button
        class = 'btn'
        (click)="navigateTo('home/order')"
        [ngClass]="{ selected: selectedButton === 'home/order'}"
        >Tomar orden</button>
    <button
        class = 'btn'
        (click)="navigateTo('home/ready-to-serve')"
        [ngClass]="{ selected: selectedButton === 'home/ready-to-serve'}"
        >Ver órdenes</button>
    <button 
        class = 'logout'
        (click)="logout()"
        [ngClass]="{ selected: selectedButton === 'login'}"
        >Cerrar sesión</button>
    <img src = '../../../assets/bq-logo.png'>
</header>