@import '../../../../../styles.scss';

.father-container {
    height: 62vh;
    width: 85%;
    background-color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    overflow-y: auto;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow:scroll;
}

.menu-btn {
    background-color: $box-shadow-color;
    height: 30px;
    border-radius: 10px;
    font-size: 0.5rem;
    margin: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.menu-btn.selected {
    background-color: $bubblegum-color;
}

.item {
    background-color: white;
    border-color: $dark-blue;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    font-size: 0.6rem;
}

img {
    width: 50px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.products-list {
    display:flex;
    flex-direction: column;
}

mat-expansion-panel {
    overflow-y: auto;
}