@import '../../../../../styles.scss';

.father-container {
    height: 62vh;
    width: 85%;
    background-color: white;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

input {
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding-left: 15px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
}

.menu-btn {
    background-color: $box-shadow-color;
    height: 30px;
    border-radius: 10px;
    font-size: 0.5rem;
    margin: 5px;
    padding: 5px;
    color: white;
    font-weight: bold;
}

.menu-btn.selected {
    background-color: $bubblegum-color;
}

.item {
    background-color: white;
    border-color: $dark-blue;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    font-size: 0.6rem;
}

.product-img {
    width: 40px;
}

.menu-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.products-list {
    display:flex;
    flex-direction: column;
    // height: 250px;
    overflow-y: scroll;
}

.delete-img {
    width: 15px;
}

.delete-btn {
    border: none;
}

// mat-expansion-title {
//     position: fixed;
// }

// mat-expansion-panel-header {
//     height: 70px;
// }

// mat-expansion-panel {
//     overflow-y: scroll;
//     // height: 250px;
// }

// .mat-expansion-panel-body {
//     height: 300px;
// }

@media (min-width: 720px) {
    .father-container {
        height: 40vh;
        width: 80vw;
        background-color: white;
        display: grid;
        grid-template-columns: 3fr 2fr;
        margin: 10px;
        padding: 10px;
        border-radius: 10px;
        padding-top: 15px;
    }

    .menu {
        height: 400px;
    }

    .menu-btn {
        background-color: $box-shadow-color;
        height: 35px;
        width: 70px;
        border-radius: 10px;
        font-size: 0.7rem;
        margin: 5px;
        padding: 5px;
        color: white;
        font-weight: bold;
    }

    .item {
        background-color: white;
        border-color: $dark-blue;
        border-radius: 10px;
        width: 100px;
        height: 80px;
        font-size: 0.7rem;
    }
    // .column-2 {
    //     padding-top: 50px;
    // }
}