<section class = 'father-container'>
    <input placeholder = 'Nombre del cliente'>
    <section class = 'menu'>
        <section class = 'buttons'>
            <button class = 'menu-btn'>Desayuno</button>
            <button class = 'menu-btn'>Almuerzo/Cena</button>
            <button class = 'menu-btn'>Combos</button>
        </section>
        <section class = 'menu-items'>
            <button class = 'item' *ngFor = 'let item of items' (click)="addToOrder(item)">
                <img src = '{{item.image}}'>
                <p>{{item.name}}</p>
            </button>
        </section>
    </section>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>Ver orden</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-panel-description>Descripción</mat-panel-description>
        <ul class = 'products-list'>
            <i *ngFor = 'let product of currentOrder'>
                {{product.name}}
                {{product.price}}
                <button (click) = 'deleteOrderItem(product)'>Eliminar</button>
            </i>
            <p>Total: {{currentTotal}}</p>
        </ul>
        <button (click) = 'sendOrder()'>Enviar orden</button>
    </mat-expansion-panel>
</section>
