<section class = 'father-container'>
    <img src = '../../../../../assets/bq-logo.png' alt = 'BurguerQueen'>
    <section class = 'form'>
        <h1>!Bienvenida/o!</h1>
        <p class = 'paragraph'>Por favor, ingresa para continuar</p>
        <form [formGroup] = 'loginForm' (ngSubmit)="onSubmit()">
            <input
                id = 'email' 
                placeholder="Email"
                type = "email"
                formControlName = "email">
            <input
                id = 'password'
                placeholder="Contraseña"
                type = 'password'
                formControlName = 'password'>
            <button class = 'button' type = 'submit'>Iniciar sesión</button>
        </form>
        <section class = 'alert'>
            <p>alerta</p>
        </section>
    </section>
</section>
