<section class = 'father-container'>
    <img src = '../../../../../assets/bq-logo.png' alt = 'BurguerQueen'>
    <section class = 'form'>
        <h1>!Bienvenida/o!</h1>
        <p class = 'paragraph'>Por favor, ingresa para continuar</p>
        <form><!-- <form [formGroup] = 'checkoutForm'> -->
            <input placeholder="Email" type = "email">
            <input placeholder="Contraseña" type = 'password'>
            <button (click) = 'Login()'>Iniciar sesión</button>
        </form>
    </section>
</section>
