@import '../../../../../styles.scss';

.father-container {
    background-color: $background-color;
    display: grid;
    grid-template-rows: 1fr 4fr;
    // display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    gap: 20px;
}

.form {
    width: 200px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    justify-self: center;
    align-self: self-start;
    height: 300px;
    box-shadow: 0 0 30px 10px $box-shadow-color;
    gap: 30px;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 60%;
    // height: 80%;
    gap: 10px;
}

input {
    height: 25px;
    width: 160px;
    border-radius: 10px;
    border-color: gray;
    border-width: 1px;
    padding-left: 10px;
}

button {
    background-color: $box-shadow-color;
    border-radius: 10px;
    border-color: $box-shadow-color;
    color: white;
    font-weight: bold;
    height: 40px;
    width: 160px;
}

.paragraph {
    font-size: 0.8rem;
}

img {
    width: 300px;
}

.alert {
    max-width: 180px;
    height: 50px;
    background-color: lightblue;
}